.wrapper
  display: flex
  gap: 30px
  margin-top: 80px
  margin-bottom: 40px
  grid-column-start: 2

  @media screen and (max-width: 1250px)
    grid-column: 1 / 3
    margin-left: auto
    margin-right: auto

  @media screen and (max-width: 850px)
    width: 100%
    flex-direction: column
    align-items: center
    margin-top: 40px

.inputWrapper
  margin: 32px 0

.title
  margin-bottom: 45px
  font-family: #{$baseFont}
  font-style: normal
  font-weight: 700
  font-size: 27px
  line-height: 132%

.verifyNumber
  font-family: #{$baseFont}
  font-style: normal
  font-weight: 600
  font-size: 21px
  line-height: 150%
  letter-spacing: -0.3px
  color: #FFFFFF

.verifyInfo
  display: flex
  flex-direction: column
  gap: 10px
  margin-bottom: 40px

  p
    font-family: #{$secondFont}
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 156%
    letter-spacing: -0.408px
    color: #E5E5EA

.left
  max-width: 426px
  width: 100%

  @media screen and (max-width: 850px)
    max-width: 538px

.right
  max-width: 538px
  width: 100%

.validateBtn
  max-width: 312px
  width: 100%
  margin-bottom: 40px

  @media screen and (max-width: 850px)
    max-width: initial


.phoneInput
  display: flex
  gap: 45px

.saveBtn
  color: #{$accentColor}
  font-family: #{$baseFont}
  font-style: normal
  font-weight: 600
  font-size: 17px
  line-height: 124%
  transition: transform 0.2s ease-in-out

  &:hover
    transform: scale(1.1)
