.header
  padding: 37px 0 33px
  overflow: hidden

.headerInner
  +dFlex(flex, flex-start, center)
  +colGap(50px)
  max-width: 1440px
  padding-left: 40px
  padding-right: 40px

  @media screen and (max-width: 1250px)
    flex-direction: column
    gap: 30px

.container
  +dFlex(flex, flex-start, center)
  +colGap(50px)
  max-width: 1440px
  margin: auto
  padding-left: 330px
  padding-right: 0
  margin-bottom: 0

  @media screen and (max-width: #{$xl})
    justify-content: center
    padding: 0 50px
