{
  "root": true,
  "plugins": ["prettier"],
  "parser": "@babel/eslint-parser",
  "ignorePatterns": ["node_modules/*", ".next/*", ".out/*"],
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  }
}
