.scrollTop
    +dFlex(false, center, center, 27px)
    position: fixed
    z-index: 9
    bottom: 100px
    right: 70px
    cursor: pointer

.scrollTopImg
    +dFlex(false, center, center)
    width: 40px

    color: $accentColor
    border-radius: 50%
    border: 1px solid 
    background-color: $whiteColorDarken
    aspect-ratio: 1
    svg *
        fill: currentColor
