.scrollTop
    +dFlex(false, center, center, 27px)
    position: fixed
    z-index: 9
    bottom: 100px
    right: 70px
    cursor: pointer

.scrollTopImg
    +dFlex(false, center, center)
    width: 40px

    aspect-ratio: 1
    border-radius: 50%
    border: 1px solid #FF5F28
    background: $whiteColorDarken
