.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-Arrow-top{
	font-size: calc(20 / 10 * 1em);
	width: calc(18 / 20 * 1em);
}
.icon-Icon-close{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-Pause{
	font-size: calc(40 / 10 * 1em);
	width: calc(40 / 40 * 1em);
}
.icon-Play{
	font-size: calc(40 / 10 * 1em);
	width: calc(40 / 40 * 1em);
}
.icon-_sprite{
	font-size: calc(100 / 10 * 1em);
	width: calc(100 / 100 * 1em);
}
.icon-arrow{
	font-size: calc(7 / 10 * 1em);
	width: calc(10 / 7 * 1em);
}
.icon-body-shape{
	font-size: calc(900 / 10 * 1em);
	width: calc(824 / 900 * 1em);
}
.icon-border-accent{
	font-size: calc(50 / 10 * 1em);
	width: calc(312 / 50 * 1em);
}
.icon-dots{
	font-size: calc(691 / 10 * 1em);
	width: calc(1440 / 691 * 1em);
}
.icon-logo{
	font-size: calc(41 / 10 * 1em);
	width: calc(236 / 41 * 1em);
}
.icon-menu-close{
	font-size: calc(32 / 10 * 1em);
	width: calc(32 / 32 * 1em);
}
.icon-menu-open{
	font-size: calc(32 / 10 * 1em);
	width: calc(32 / 32 * 1em);
}
.icon-play-button{
	font-size: calc(21 / 10 * 1em);
	width: calc(20 / 21 * 1em);
}
.icon-vector{
	font-size: calc(683 / 10 * 1em);
	width: calc(1440 / 683 * 1em);
}

