.scienceBased
    position: relative
    display: flex
    height: 100vh

.scienceTextWrap
    max-width: 435px

.scienceTextsBottom
    margin-top: 24px
    color: $whiteColorDarken
    * + *
        margin-top: 12px

