
.heroSlider
    position: relative
    margin-top: 20px
    margin-bottom: 20px

    +mediaMin($lg)
        transform: translateX($offsetLeft) !important

.heroSlide
    max-width: 315px
    
    +mediaMax($sm)
        transform: translateX($adaptiveGutters)

