html
    scroll-behavior: smooth
    overflow-x: hidden
    // scrollbar-width: none
    // &::-webkit-scrollbar
    background: rgba(255, 255, 255, 0.0)

.isHidden
    overflow: hidden

html,
body,
#__next
    min-height: 100%

body
    font: 400 #{$fontSizeBase}/1.2 $baseFont
    letter-spacing: -0.04em
    color: $whiteColor
    background: $blackColor url($path + 'icons/body-shape.svg') no-repeat center fixed

#__next
    min-height: 100vh
    
#__next,
section
    display: flex
    flex-direction: column

section
    position: relative
    height: 100vh
    padding: 100px 0
    // min-height: 90vh
    // padding-bottom: 100px
    justify-content: center

button
    cursor: pointer

.outer
    overflow: hidden

.inner
    width: 100vw
