.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

{{#shapes}}
.icon-{{base}}{
	font-size: calc({{height.inner}} / 10 * 1em);
	width: calc({{width.inner}} / {{height.inner}} * 1em);
}
{{/shapes}}

