$path: '../assets/'

// colors
$whiteColor: #fff
$whiteColorDarken: #E5E5EA
$blackColor: #141417
$blueColor: #8B78FF
$darkBlueColor: #404B6D
$darkGrayColor: #252629
$accentColor: rgba(233, 83, 26, 1)
$warningColor: rgba(242, 15, 0, 1)
$textGrayColor: #636479


// gradients
$grayGradient: linear-gradient(269deg,rgba(138, 135, 135, 0.2),rgba(75, 78, 91, 0.3),rgba(109, 110, 113, 0.2))
$accentGradient: linear-gradient(269deg, rgba(241, 138, 3, 1) 0%, $accentColor 101.83%)
$accentSolidGradient: linear-gradient(269deg, $accentColor 0%, $accentColor 101.83%)
$successGradient: linear-gradient(to bottom,rgba(80, 173, 71, ),rgba(80, 173, 71, 0))
$inputGrayGradient: linear-gradient(180deg,rgba(138, 135, 135, 0.2),rgba(75, 78, 91, 0.3),rgba(109, 110, 113, 0.2))
$lineGradient: linear-gradient(90deg, $textGrayColor 32.74%, #FFFFFF 100%)
$lineGradientDark: linear-gradient(90deg, rgba(173, 176, 208, 0) 3.65%, $textGrayColor 100%)
$textAccentGradientColor: linear-gradient(268.93deg, #FEDCAE 0%, $accentColor 101.83%)

$lightGradient1: linear-gradient(180deg, #4C477D 0%, #E3E3ED 60.89%), linear-gradient(199deg, #4C477D 32.59%, #E3E3ED 155.14%),radial-gradient(50% 50% at 50% 50%, rgba(#F5FAFC, 0.6) 43.19%, rgba(245, 230, 223, 0.6) 100%), linear-gradient(180deg, rgba(90, 83, 160, 0) 0%, rgba(#5A53A0 ,0.8) 27.56%, rgba( #6E66A8, 0.8) 59.85%, rgba(245, 230, 223, 0) 100%), radial-gradient(50% 50% at 50% 50%, #F5E6DF 43.19%, rgba(245, 230, 223, 0) 100%)

// fonts
$baseFont: 'Inter', sans-serif
$headingFont: 'Nunito Sans', sans-serif
$secondFont: 'IBM Plex Mono', sans-serif
$thirdFont: 'SF Pro Text', sans-serif

// sizes
$xs: 544px
$sm: 768px
$md: 992px
$lg: 1200px
$xl: 1440px
// $xl: 1640px

$containerLg: $xl

$guttersSm: 10px
$guttersXl: 60px

$adaptiveGutters: clamp($guttersSm, 5vw, $guttersXl)
$offsetLeft: calc((100vw - $containerLg + $adaptiveGutters * 2) / 2)

$fontSizeBase: 17px

$fontSizeXxl: 64px
$fontSizeXl: 56px
$fontSizeLg: 48px
$fontSizeMd: 40px
$fontSizeSm: 27px
$fontSizeXs: 21px

$fontSizeXxlMob: 40px
$fontSizeXlMob: 40px
$fontSizeLgMob: 32px
$fontSizeMdMob: 27px
$fontSizeSmMob: 21px
$fontSizeXsMob: 18px
