.benefitFrom

    .benefitFromTextWrap
        +dFlex(flex, center, flex-start, 40px, column)
        width: 100%
        max-width: 660px

    .benefitFromItems
        +dGrid(grid, 180px, fit, 14px 40px)
        width: 100%

    .benefitFromButton
        width: 100%
        max-width: 312px
