.sectionMedia


    .sectionMediaTop
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        gap: 50px
        margin-bottom: 32px

    .sectionMediaTitle
        flex-basis: 100%
        