
.header
    position: sticky
    inset: 0
    z-index: 999

    padding: 37px 0 33px

    transition: background-color .3s

    +mediaMax($lg)
        height: 80px
        padding: 20px 0
        
        background-color: $blackColor

    +mediaMax($md)
        position: fixed
        height: 64px
        padding-top: 12px
        padding-bottom: 12px

    &.isHeaderScroled
        background-color: $blackColor

    .headerInner
        +dFlex(flex, space-between, center)
        +colGap(80px)

    .headerNavWrap,
    .headerNav
        +dFlex(flex, space-between, center)
        width: 100%

    .headerNavWrap
        +colGap(50px)
        +mediaMax($lg)
            display: none
            position: fixed
            inset: 0
            top: 62px
            padding: 60px $adaptiveGutters 60px

            background-color: $darkGrayColor

            &.isOpen
                +dFlex(flex, flex-start, flex-start, 46px, column)

    .headerNav
        +colGap(30px)
        justify-content: flex-end

        +mediaMax($lg)
            +dFlex(flex, flex-start, flex-start, 25px, column)
            width: 100%
            font: 600 40px/1.16 $headingFont

    .headerNavItem
        +mediaMax($lg)
            position: relative
            width: 100%

            &:not(:last-child)::after
                content: ''
                position: absolute
                bottom: -15px
                left: 0
                right: 0
                height: 1px
                background: linear-gradient(90deg, $textGrayColor 30%, $whiteColor 100%)

    .headerLogo
        +mediaMax($lg)
            width: 162px

    .headerBlocks
        +dGrid(grid, 200px, fit, 20px)
        +mxAuto
        max-width: max-content
        padding: 30px

        border-radius: 20px
        backdrop-filter: blur(4px)

    .headerSelectLocation
        flex-shrink: 0

        +mediaMax($lg)
            order: 3
            width: 100%
            margin-bottom: auto

    .headerButton
        flex-shrink: 0
        padding-left: 35px
        padding-right: 35px

        letter-spacing: 0.3px

        +mediaMax($lg)
            display: none

    .headerMenuButton
        +mediaMax($lg)
            position: fixed
            top: 16px
            right: $adaptiveGutters

        +mediaMin($lg)
            display: none

.headerAlert
    position: fixed
    z-index: 99
    top: 55px
    left: 20%

    display: grid
    gap: 16px
    width: 310px

    +mediaMax($md)
        position: fixed
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

    .headerAlertText
        font-size: 21px
        line-height: 1.5

    .headerAlertText span,
    .headerAlertChangeBtn
        color: $accentColor

    .headerAlertBtn
        padding: 8px

    .headerAlertChangeBtn
        text-decoration: underline transparent
        transition: .2s text-decoration-color
        
        &:hover
            text-decoration-color: currentColor