.container
  width: 100%
  font-family: #{$baseFont}
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 156%

.labelTitle
  padding-left: 12px

.wrapper
  display: flex
  margin-top: 5px
  position: relative

.input
  height: 50px
  background: linear-gradient(179.55deg, rgba(138, 135, 135, 0.2) -3.48%, rgba(75, 78, 91, 0.3) 48.02%, rgba(109, 110, 113, 0.2) 99.61%)
  border: 1px solid #ADADAD
  border-left: 1px solid transparent
  border-radius: 0 8px 8px 0
  color: #FFF
  padding: 12px 40px 12px 12px
  margin-left: -1px
  width: 100%

.fieldError
  border: 1px solid #F04141
  border-left: 1px solid transparent

.attentionIcon
  position: absolute
  right: 12px
  top: 50%
  transform: translateY(-50%)

.error
  color: #F04141
  margin-top: 4px
  padding-left: 12px
